.App {
  text-align: center;
}

body {
  /* background-image: url("https://images.unsplash.com/photo-1503455637927-730bce8583c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-size: 100%; */
  background-color: rgba(94, 36, 53, 0.897);
}


h1,p {
  font-family: fantasy;
  text-align: center;
  color: white;
  font: bold;
}
p{
  font-size: 26px;
}


.form {
  text-align: center;
}

#result{
  text-align: center;
  color: brown;
  font-size: 16px;
  background-color: rgba(248, 81, 145, 0.205);
  width: 400px;
  height: 100px;
  margin: auto;
  border: 2px;
  border-radius: 10px;
  border-color: aliceblue;
}

.data_table {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  text-align: center;
}

input {
  width: 180px;
  padding: 7px 12px 0px 12px;
  margin: 2px ;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 20px;
  font-family: fantasy;
  text-align: center;
  color:  rgba(204, 83, 130);
  box-shadow: 10px 10px 5px rgba(204, 83, 130, 0.808);
}
textarea {
  width: 300px;
  height: 150px;
  padding: 5px 5px;
  /* margin: 10px; */
  box-sizing: border-box;
  
  background-color: #90cbf381;
  resize: none;
  color: #fff;
  
}



button{
  
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -khtml-border-radius: 5px;
  background:  rgba(204, 83, 130);
  color: #fff;
  border: solid 1px #fff;
  /* text-decoration: none8*/
  cursor: pointer;
  font-size: 18px;
  border-radius: 15px;
  /* padding: 10px 10px; */
  width: 80px;
  height: 30px;
  margin: 10px;
  outline: none;
  font-family: 'Gill Sans';
  -webkit-appearance: none;

  box-shadow: 10px 10px 5px rgba(204, 83, 130, 0.808);
  
}
wired-card{
  box-shadow: 10px 10px 5px rgba(204, 83, 130, 0.808);
  margin: 40px;
}